.wrapper{
    min-height: 30rem;
    background-image:url(chalowrking.jpg.jpg);
    background-repeat: round;
    background-size: cover;
    text-align: center;
    justify-content: center;
    vertical-align: top;
    text-decoration: none;
}

.contactwrapper{
    min-height: 30rem;
    background-image:url(56657116-abstract-technology-background-programming-coding-hacker-concept-binary-computer-code-vector-backgro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    vertical-align: top;
    text-decoration: none;
}

.projectswrapper{
    min-height: 30rem;
    background-image:url(close-up-html-css-code-developing-website-coding-140343303.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    vertical-align: top;
    text-decoration: none;
}

.skillswrapper{
    min-height: 30rem;
    text-decoration: none;
    background-image:url(coding_line_seamless_pattern-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: top;
    justify-content: center;
}

.privacywrapper{
    min-height: 30rem;
    background-image:url(Software_Engineer.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    vertical-align: top;
    text-decoration: none;
}

.nav-home{
    display: inline-block;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.nav{
    display: inline-flex;
    width: 100%;
    height: 80px;
    background-color:#0005;
    line-height: 80px;
    justify-content:center;
    text-align: center;
    vertical-align: middle;
    text-decoration-line: none;
    text-decoration-style: none;
    text-decoration-color: whitesmoke;
    float: none;
    margin: 0;
    margin-right: 1.9rem;
}

.nav ul li a{
    list-style-type: none;
    display: inline-flex;
    text-decoration: none;
   
}

li {
    border: solid darkblue 5px;
    display: inline-block;
    padding-right: 20px;
    text-decoration-color: red;
    color: lightblue;
}

a {
    border-color: solid darkblue 5px;
    text-decoration: none;
}

button {
    text-decoration: none;
}

.body{
    justify-content: center;
    padding: 05px;
    margin: 5%; 
    background-color: mistyrose;
    color:darkorchid;
    text-align: center;
    vertical-align: middle;
}
.h1{
    vertical-align: top;
    text-align: center;
    margin: auto;
    padding: inherit;
}

.welcoming{
    justify-content: center;
    color: rgb(17, 14, 233);
    text-align: center;
    vertical-align: middle;
    text-emphasis: none;
    text-shadow: midnightblue;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}

.bio{
    justify-content: center;
    color: rgb(52, 4, 80);
    text-align: center;
    vertical-align: middle;
    text-emphasis: none;
    text-shadow: midnightblue;
    font-size: medium;
    font-family: fantasy;
    font-style: italic;
}

.footerul{
    background-color: #333;
    color: #fff;
    justify-content: center;
    text-align: center;
    vertical-align: bottom;
    padding-right: 15px;
    margin: 40px;

}

.footer{
    display: flex;
    text-align: center;
    padding: 15%;
    text-decoration: none;
    vertical-align: auto;
    justify-content: flex-start;
}

.para{
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    color: crimson;
    font-size: large;
    font-family: fantasy;
}

.active:hover{
background-color: whitesmoke;
}
.back {
    background-image: url(chalowrking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 
.word{
text-align: center;
vertical-align: middle;justify-content: center;
color: rgba(88, 9, 9, 0.938);
margin: 5px;
padding: inherit;
text-size-adjust: 10px;
font-size: large;
font-family: monospace;
font-weight: bold;
}

.chalo{
    text-align: center;
    vertical-align: inherit;
    justify-content: center;
    margin: inherit;
    padding: inherit;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder; 
    color: mediumaquamarine;
}

.privacy{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 0;
    margin: 05px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
color: blueviolet;
}

.form{
    margin-top:50px;
    transition: all;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.form-control{
    width: 500px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 3px solid blue;
    color:red;
    font-size: 20px;
    margin-bottom: 18px;
}

.input{
    height: 50px;
}

form.submit{
    background: #cc57ff;
    background-color: transparent;
    color: #fcf;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 3px;
    height: 60px;
    margin-top: 30px;
}
.cntctfrm{
    text-align: center;
    vertical-align: top;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.skill-exper{

    font-size: xx-large;
    font-weight: bold;
    font: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    padding-top: 30px;
    margin: 25px;
}

input[type=submit]{
    color: white;
    background-color: blue;
    margin-top: 5px;
    padding: 12px;
    border: none;
}

input[type=submit]:hover{
    background-color: rgb(92, 92, 255);
}

.g-recaptcha{
    justify-self:center;
    text-align: center;
    vertical-align: middle;
    float: center;
}